.chat-container {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 6rem 1rem;
    gap: 1rem;
}

.ask {
    background-color: hsl(from var(--base-color) h s calc(l + 20));
    align-self: flex-end;
    max-width: 80%;
    padding: 1rem;
    border-radius: 1rem;
    font: normal 1rem/1.5 var(--font);
    color: var(--font-color);
}

.answer {
    padding-block: 1rem;
    font: normal 1rem/1.5 var(--font);
    color: var(--font-color);
}

.answer > h1, h2, h3, h4, h5, h6 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.answer > ul, ol {
    margin-left: 1.5rem;
    margin-bottom: 1rem;
}

.answer > table {
    border-collapse: collapse;
    margin-bottom: 1rem;
}

.answer > table td, th {
    border: 1px solid var(--font-color);
    padding: 0.5rem 1rem;
}

.answer > pre {
    background-color: hsl(from var(--base-color) h s calc(l + 10));
    padding: .5rem;
    border-radius: .5rem;
    overflow-x: auto;
}