.entry-container {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    width: calc(100% - 2rem);
}

.entry-container > #entry {
    outline: none;
    width: 100%;
    height: 4rem;
    padding-inline: 1.5rem 4rem;
    border-radius: 1rem;
    background-color: hsl(from var(--base-color) h s calc(l + 10));
    box-shadow: .5rem 0 1rem #00000040;
    font: normal 1.25rem var(--font);
    color: var(--font-color);
}

.entry-container > #send-button {
    position: absolute;
    top: 0.4rem;
    right: 0.4rem;
    height: 3.2rem;
    aspect-ratio: 1;
    border-radius: calc(1rem - 10%);
    background-color: var(--font-color);
}

.entry-container > #send-button svg {
    stroke: var(--base-color);
}