.entry-container {
    position: fixed;
    bottom: 1rem;
    margin-left: 1rem;
    width: calc(min(60rem, 100%) - 2rem);
}

.entry-container > #entry {
    outline: none;
    width: 100%;
    height: 4rem;
    padding-inline: 1.5rem 4rem;
    border-radius: 1rem;
    background-color: hsl(from var(--base-color) h s calc(l + 10));
    box-shadow: .5rem 0 1rem #00000040;
    font: normal 1.25rem var(--font);
    color: var(--font-color);
}

.entry-container > #send-button {
    cursor: pointer;
    position: absolute;
    top: 0.4rem;
    right: 0.4rem;
    height: 3.2rem;
    aspect-ratio: 1;
    border-radius: calc(1rem - 10%);
    background-color: var(--font-color);
    transition: all 125ms ease;

    &:hover {
        background-color: hsl(from var(--font-color) h s calc(l - 40));
    }

    &:disabled {
        cursor: not-allowed;
        background-color: hsl(from var(--font-color) h s calc(l + 20));
    }
}

.entry-container > #send-button svg {
    stroke: hsl(from var(--base-color) h s calc(l + 10));
}